<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div th:fragment="formCurso" class="form">

        <label for="idCampus">Campus*:</label>
        <select id="idCampus" th:field="*{campus}">
           <option value="">--</option>
           <option th:each="c : ${campi}"
                   th:value="${c.id}"
                   th:text="${c.nome}">
           </option>
        </select>

        <br>

            <label for="idNome">Nome:</label>
            <input type="text" id="idNome" th:field="*{nome}" placeholder="Informe o nome do curso" required/>
            <br>

            <label for="idCodigo">código:</label>
            <input type="text" id="idCodigo" th:field="*{codigo}" placeholder="Informe o código do curso" required/>
            <br>

            <label for="idDataCriacao">Data de Criação:</label>
            <input type="date" id="idDataCriacao" th:field="*{dataCriacao}" placeholder="Informe a data de criação" required/>
            <br>

            <label for="idDescricao">Descrição:</label>
            <input type="text" id="idDescricao" th:field="*{descricao}" placeholder="Informe a descrição do curso" required/>
            <br>
			
       
    </div>
</body>
</html> 