<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastrar Disciplina</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}">
	<script src="/js/menu.js"></script>
</head>
<body>
    
    <div th:insert="fragments/barraNavegacao :: navbar"></div>
    <br>

    <div class="form-header">
        <h1>Cadastro de Disciplina</h1>
    </div>

    <br>

    <form th:action="@{/disciplina/save}" th:object="${disciplina}" method="post">
    <br>

        <div th:insert="fragments/formDisciplina :: formDisciplina"></div>

            <div class="button-container">
                <button type="submit">Salvar</button>
                <button type="button" onclick="window.location.href='/disciplina/form'">Cancelar</button>
            </div>
    </form>
</body>
</html>