<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}">
		<script src="/js/menu.js"></script>

</head>
<body>

    <!-- barra de navegação -->
    <div th:insert="fragments/barraNavegacao :: navbar"></div>

    <br>

    <!-- titulo -->
    <div class="form-header">
        <h1>Cadastro de Campus</h1>
    </div>

    <br>
    <form th:action="@{/campus/save}" th:object="${campus}" method="post">
        <br>

        <div th:insert="fragments/formCampus :: formCampus"></div>

        <div class="button-container">
            <button type="submit">Salvar</button>
            <button type="button" onclick="window.location.href='/campus/form'">Cancelar</button>
        </div>
    </form>
</body>
</html>