<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editar curso</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <script src="/js/menu.js"></script>
</head>
<body>

    <div th:insert="fragments/barraNavegacao :: navbar"></div>

    <br>

    <div>
        <h1>Editar Curso</h1>
    </div>

    <form th:action="@{/curso/edit}" th:object="${curso}" method="post">
        <br>
        

        <input type="hidden" id="idId" th:field="*{id}" />
        <br>

        <div th:insert= "fragments/formCurso :: formCurso"></div>

        <div class="button-container">
            <button type="submit">Salvar</button>

            <button type="button" onclick="window.location.href='/curso/list'">Cancelar</button>
        </div>

        <h2>Disciplinas Associadas:</h2>
    
        <table border="1">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Código</th>
                    <th>Carga Horária</th>	
                    <th>Ementa</th>		
                    <th>Créditos</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="disciplina : *{disciplinas}">
                    <td th:text="${disciplina.nome}"></td>
                    <td th:text="${disciplina.codigo}"></td>
                    <td th:text="${disciplina.cargaHoraria}"></td>
                    <td th:text="${disciplina.ementa}"></td>
                    <td th:text="${disciplina.creditos}"></td>
                    <td>
                        <a th:href="@{'/disciplina/edit/' + ${disciplina.id}}">Editar</a> |
                        <a th:href="@{'/disciplina/delete/' + ${disciplina.id}}" onclick="return confirm('Tem certeza que deseja excluir?')">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </form>
</body>
</html>