<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listar cursos</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <script src="/js/menu.js"></script>
</head>
<body>
    <div th:insert="fragments/barraNavegacao :: navbar"></div>

    <h1>LISTAR CURSOS</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Código</th>
                <th>Data de Criação</th>
                <th>Descrição</th>
				<th>Campus</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="curso : ${cursos}">
                <td th:text="${curso.nome}"></td>
                <td th:text="${curso.codigo}"></td>
                <td th:text="${#dates.format(curso.dataCriacao, 'dd/MM/yyyy')}"></td>
                <td th:text="${curso.descricao}"></td>
                <td th:text="${curso.campus.nome}"></td>
				<td>
                    <a th:href="@{'/curso/edit/' + ${curso.id}}">Editar</a> |
                    <a th:href="@{'/curso/delete/' + ${curso.id}}" onclick="return confirm('Tem certeza que deseja excluir?')">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>