<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Disciplinas</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}">
	<script src="/js/menu.js"></script>
</head>
<body>
     <div th:insert="fragments/barraNavegacao :: navbar"></div>

    <h1>Listar Disciplinas</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Campus</th>
                <th>Curso</th>
                <th>Nome</th>
                <th>Código</th>
                <th>Carga Horária</th>
                <th>Ementa</th>
                <th>Créditos</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="disciplina : ${disciplinas}">
                <td th:text="${disciplina.curso.campus.nome}"></td>
                <td th:text="${disciplina.curso.nome}"></td>
                <td th:text="${disciplina.nome}"></td>
                <td th:text="${disciplina.codigo}"></td>
                <td th:text="${disciplina.cargaHoraria}"></td>
                <td th:text="${disciplina.ementa}"></td>
                <td th:text="${disciplina.creditos}"></td>
                <td>
                    <a th:href="@{'/disciplina/edit/' + ${disciplina.id}}">Editar</a>
                    <a th:href="@{'/disciplina/delete/' + ${disciplina.id}}" onclick="return confirm('Tem certeza que deseja deletar esta disciplina?')">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>