<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Curso</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <script src="/js/menu.js"></script>

</head>
<body>
    <!-- barra de navegação -->
    <div th:insert="fragments/barraNavegacao :: navbar"></div>
    
    <br>

    <div class="form-header">
        <h1>Cadastro de Curso</h1>
    </div>

    <br>

    <!-- formulário de cadastro -->

    <form th:action = "@{/curso/save}" th:object="${curso}" method="post">

        <br>

        <div th:insert="fragments/formCurso :: formCurso"></div>

        <div class="button-container">
            <button type="submit">Salvar</button>

            <button type="button" onclick="window.location.href='/curso/form'">Cancelar</button>

        </div>
    </form>
</body>
</html>