<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editar curso</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <script src="/js/menu.js"></script>
</head>
<body>

    <div th:insert="fragments/barraNavegacao :: navbar"></div>

    <br>

    <div>
        <h1>Editar Curso</h1>
    </div>

    <form th:action="@{/curso/edit}" th:object="${curso}" method="post">
        <br>

        <input type="hidden" id="idId" th:field="*{id}" />
        <br>

        <div th:insert= "fragments/formCurso :: formCurso"></div>

        <div class="button-container">
            <button type="submit">Salvar</button>

            <button type="button" onclick="window.location.href='/curso/list'">Cancelar</button>
        </div>

    </form>
</body>
</html>